<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
</head>
<style>
    label,h2{
        color:white;
    }
    body{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/static/bg.jpg);
        background-size:cover;
        background-position:center;
        max-height:100vh;
    }
    .booking-form-box{
        max-width: 350px;
        border:1px solid #ced4da;
        margin :10% auto 0;
    }

</style>
<body>
    <form action="/" method="POST" class="booking-form-box">
        <div class="container">
            <h2 class="text-center my-3">Tracking Issues</h2>

            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Your Full Name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Your Phone Number">
            </div>
            <div class="form-group">
                <label for="issuetype">Issue Type</label>
                <select class="form-control" name="issuetype" id="issuetype">
                    <option>Blank/Frozen Screen</option>
                    <option>Corrupted Drivers</option>
                    <option>Password Reset/ Account Access</option>
                    <option>Overheating</option>
                    <option>New Application Installation</option>
                    <option>Computer is Slow</option>
                    <option>Strange Noise</option>
                    <option>Internet is Down</option>


                </select>
            </div>
            <div class="form-group">
                <label for="des">Explain Your Concern</label>
                <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</html>
</html>